include README.rst LICENSE.txt CHANGES.txt
include requirements.txt
include run-tests.py visualize-systems.py
include tox.ini
recursive-include tests *.py
recursive-include examples *.ini
recursive-include docs *.rst *.txt *.py *.png *.svg
prune docs/_build
